<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>首页</title>

		<link href="__PUBLIC__/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" />

		<link href="__PUBLIC__/Home/basic/css/demo.css" rel="stylesheet" type="text/css" />

		<link href="__PUBLIC__/Home/css/hmstyle.css" rel="stylesheet" type="text/css" />
		<script src="__PUBLIC__/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="__PUBLIC__/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
	</head>

	<body>
		<div class="hmtop">
			<!--顶部导航条 -->
			<include file="public/header" />
			<div class="banner">
                      <!--轮播 -->
						<div class="am-slider am-slider-default scoll" data-am-flexslider id="demo-slider-0">
							<ul class="am-slides">
								<li class="banner1"><a href="introduction.html"><img src="__PUBLIC__/Home/images/ad1.jpg" /></a></li>
								<li class="banner2"><a><img src="__PUBLIC__/Home/images/ad2.jpg" /></a></li>
								<li class="banner3"><a><img src="__PUBLIC__/Home/images/ad3.jpg" /></a></li>
								<li class="banner4"><a><img src="__PUBLIC__/Home/images/ad4.jpg" /></a></li>

							</ul>
						</div>
						<div class="clear"></div>	
			</div>
			<div class="shopNav">
				<div class="slideall">
					   <include file="public/shopnav" />		
						<!--侧边导航 -->
						<include file="public/category" />													
						<!--轮播 -->
						

					<!--小导航 -->
					<div class="am-g am-g-fixed smallnav">
						<div class="am-u-sm-3">
							<a href="sort.html"><img src="__PUBLIC__/Home/images/navsmall.jpg" />
								<div class="title">商品分类</div>
							</a>
						</div>
						<div class="am-u-sm-3">
							<a href="#"><img src="__PUBLIC__/Home/images/huismall.jpg" />
								<div class="title">大聚惠</div>
							</a>
						</div>
						<div class="am-u-sm-3">
							<a href="#"><img src="__PUBLIC__/Home/images/mansmall.jpg" />
								<div class="title">个人中心</div>
							</a>
						</div>
						<div class="am-u-sm-3">
							<a href="#"><img src="__PUBLIC__/Home/images/moneysmall.jpg" />
								<div class="title">投资理财</div>
							</a>
						</div>
					</div>
					<!--走马灯 -->
					<include file="public/marqueen" />
					<div class="clear"></div>
				</div>
				<script type="text/javascript">
					if ($(window).width() < 640) {
						function autoScroll(obj) {
							$(obj).find("ul").animate({
								marginTop: "-39px"
							}, 500, function() {
								$(this).css({
									marginTop: "0px"
								}).find("li:first").appendTo(this);
							})
						}
						$(function() {
							setInterval('autoScroll(".demo")', 3000);
						})
					}
				</script>
			</div>
			<div class="shopMainbg">
				<div class="shopMain" id="shopmain">
				<!--今日推荐 -->
					<include file="public/tuijian" />
					<div class="clear "></div>
					<!--热门活动 -->
					<include file="public/activity" />
					<include file="public/sweet" />
					<include file="public/jianguo" />			
					<include file="public/sweet" />
					<include file="public/jianguo" />
					<include file="public/sweet" />
					<include file="public/jianguo" />
					<include file="public/sweet" />
					<include file="public/jianguo" />
					<include file="public/sweet" />
					<include file="public/jianguo" />
					<include file="public/footer" />
				</div>
			</div>
		</div>
		</div>
		<!--引导-->
		<div class="navCir">
			<li class="active"><a href="home1.html"><i class="am-icon-home "></i>首页</a></li>
			<li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
			<li><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>	
			<li><a href="../person/index.html"><i class="am-icon-user"></i>我的</a></li>					
		</div>

		<!--菜单 -->
		<include file="public/menu" />
		<script type="text/javascript " src="__PUBLIC__/Home/basic/js/quick_links.js "></script>
	</body>

</html>