<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>搜索页面</title>

	<link href="__PUBLIC__/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" />

	<link href="__PUBLIC__/Home/basic/css/demo.css" rel="stylesheet" type="text/css" />

	<link href="__PUBLIC__/Home/css/seastyle.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="__PUBLIC__/Home/basic/js/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/script.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/basic/js/quick_links.js"></script>